@font-face{ 
  font-family: 'solido';
  src: url('solido-extrabold/solido-extrabold-webfont.eot');
  src: url('solido-extrabold/solido-extrabold-webfont?#iefix') format('embedded-opentype'),
       url('solido-extrabold/solido-extrabold-webfont.woff') format('woff'),
       url('solido-extrabold/solido-extrabold-webfont.ttf') format('truetype'),
       url('solido-extrabold/solido-extrabold-webfont.svg#webfont') format('svg');
  font-weight: bold;
}

@font-face{ 
  font-family: 'solido';
  src: url('solido-extrabold/solido-extrabolditalic-webfont.eot');
  src: url('solido-extrabold/solido-extrabolditalic-webfont?#iefix') format('embedded-opentype'),
       url('solido-extrabold/solido-extrabolditalic-webfont.woff') format('woff'),
       url('solido-extrabold/solido-extrabolditalic-webfont.ttf') format('truetype'),
       url('solido-extrabold/solido-extrabolditalic-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style:italic;
}

@font-face{ 
  font-family: 'solido';
  src: url('solido-medium/solido-medium-webfont.eot');
  src: url('solido-medium/solido-medium-webfont?#iefix') format('embedded-opentype'),
       url('solido-medium/solido-medium-webfont.woff') format('woff'),
       url('solido-medium/solido-medium-webfont.ttf') format('truetype'),
       url('solido-medium/solido-medium-webfont.svg#webfont') format('svg');
  font-weight: normal;
}

@font-face{ 
  font-family: 'solido';
  src: url('solido-medium/solido-mediumitalic-webfont.eot');
  src: url('solido-medium/solido-mediumitalic-webfont?#iefix') format('embedded-opentype'),
       url('solido-medium/solido-mediumitalic-webfont.woff') format('woff'),
       url('solido-medium/solido-mediumitalic-webfont.ttf') format('truetype'),
       url('solido-medium/solido-mediumitalic-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style:italic;
}

body 
            {
        width:550px;
        font-family:solido;
        margin:20px auto;
            }  

#title
{
  font-size:24px;
  font-weight: bold; 
  margin: 5px auto;
  position: relative;
  left: 10%;
  top:-7%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* **CUSTOMIZATION: Customize the appearance of the nodes. Change 'fill-opacity' */
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

/* **CUSTOMIZATION: Customize the font of the text beside nodes. */
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-family:solido;
  font-size: 18px;
}

/* **CUSTOMIZATION: Customize the mouseover tooltip of links and nodes. */ 
.d3-tip {
  padding: 2px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  font-family:solido;
  font-size: 14px;
}
 
/* **CUSTOMIZATION: Customize the color and opacity of links. */ 
.link {
  fill: none;
  stroke: #7b7b7b;
  stroke-opacity: .2;
}

/* **CUSTOMIZATION: Customize the color and opacity of links when mouseover. */  
.link:hover {
  stroke-opacity: .5;
  stroke: #7b7b7b;
}
